
<main class="">
    <section class="about">
        <div class="about__bio-image">
            <div class="about__bio">
                <h2 class="text-secondary"></h2>
                <p> 
                </p>
                
            </div>
        </div>

        <div class="bg">
            <div class="jobs">
            
                <h2 class="text-secondary jobs__jobtitle">Job Experience</h2>
                <div class="jobs__job bar1">
                    <h2 class="text-secondary">2022-Current</h2>
                    <h3>Merkur Versicherung</h3>
                    <h6>Full Stack Developer</h6>
                    <p>Entry date: 01.12.2022
                    </p>
                </div>
                <div class="jobs__job bar2">
                    <h2 class="text-secondary">2021-2022</h2>
                    <h3>DCCS GmbH</h3>
                    <h6>Full Stack Developer</h6>
                    <p>Building software-projects for b2b customers based on the lowcode platform WebCon in a small and agile Team. Used technologies are JavaScript/TypeScript, REST APIs. and Databases with MSSQL.
                    </p>
                </div>
                <div class="jobs__job bar3">
                    <h2 class="text-secondary">2017-2021</h2>
                    <h3>Evoloso</h3>
                    <h6>Apprenticeship Software Developer</h6>
                    <p>Implementing features and building tools for the in-house projectmanagement software "PMSmart". Learned and used technologies are C#, VBA, TSQL, and dabblink a bit with GRAV CMS for content managing the company website.
                    </p>
                </div>
            </div>
        </div>
        


    </section>

</main>

<script src="js/main.js"></script>
