<main>
    <section class="about">
        <div class="about__bio-image">
            <div class="about__bio">
                <h2 class="text-secondary">BIO</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, non expedita? Accusamus quam repellat facere architecto quae pariatur, atque ratione quasi amet possimus sed animi nihil nobis repellendus magni fuga!
                </p>
            </div>
        </div>

        <div class="jobs">
            <h2 class="text-secondary jobs__jobtitle">Job Experience</h2>
            <div class="jobs__job">
                <h2 class="text-secondary">2022-Current</h2>
                <h3>Merkur Versicherung</h3>
                <h6>Full Stack Developer</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo minima totam dignissimos, in consequatur adipisci quos laborum consequuntur optio perspiciatis.
                </p>
            </div>
            <div class="jobs__job">
                <h2 class="text-secondary">2021-2022</h2>
                <h3>DCCS GmbH</h3>
                <h6>Full Stack Developer</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo minima totam dignissimos, in consequatur adipisci quos laborum consequuntur optio perspiciatis.
                </p>
            </div>
            <div class="jobs__job">
                <h2 class="text-secondary">2017-2021</h2>
                <h3>Evoloso</h3>
                <h6>Lehre IT-Informatik</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo minima totam dignissimos, in consequatur adipisci quos laborum consequuntur optio perspiciatis.
                </p>
            </div>
        </div>

        <app-social-icons></app-social-icons>

    </section>

</main>

<script src="js/main.js"></script>
