@import "../../styles/styles.scss";

.contact {
    text-align: center;
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
    linear-gradient(
        to right,
        rgba($primary-color, 0.1),
        rgba($primary-color, 0.3)
    ),
    url("../../assets/img/worlds_twisting_crop_ai.png") center top;
    background-size: cover;
    animation: zoom-out 10s ease forwards;

    
    h2{
       font-size: 2.5rem;
       margin-bottom: 2.5rem;

    }

    &__list{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;

    }

    h2{
        font-weight: 600;
    }

    .social-icons {
        position: initial;
        margin-top: 2rem;
    }
}
