<main>
    <section class="contact">
        <h2>Contact Me..</h2>

        <div class="contact__list">
            <div class="contact__email">
                <i class="fas fa-envelope"></i>Email
                <div class="text-secondary">email@email.com</div>
            </div>
            <div class="contact__phone">
                <i class="fas fa-mobile-alt"></i>Email
                <div class="text-secondary">+43 0660292383</div>
            </div>
            <div class="contact__address">
                <i class="fas fa-marker-alt"></i>Email
                <div class="text-secondary">123 Liberty Drive</div>
            </div>
        </div>


        <app-social-icons></app-social-icons>

    </section>

</main>

<script src="js/main.js"></script>
