<main style="overflow: hidden"> 
    <section class="contact">
        <h2 class="text-secondary">Contact Me..</h2>

        <div class="contact__list">
            <div class="contact__email">
                <i class="fas fa-envelope text-secondary"></i>
                <div >email@email.com</div>
            </div>
            <div class="contact__phone">
                <i class="fas fa-mobile-alt text-secondary"></i>
                <div >+43 0660292383</div>
            </div>
            <div class="contact__address">
                <i class="fas fa-map-marker-alt text-secondary"></i>
                <div >123 Liberty Drive</div>
            </div>
        </div>



    </section>

</main>

<script src="js/main.js"></script>
