
@import "config"; //no _ or .scss needed
@import "menu";
@import "responsive";

body {
    overflow-x: hidden; /* Hide scrollbars */
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100vh; //100% of the available viewport height
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1, h2, h3 {
    font-weight: 400;

}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

.text-secondary {
    color: $secondary-color;
    text-transform: uppercase;

}

.text-third {
    color: $third-color;
    text-transform: uppercase;

}

header {
    position: fixed; //to stay up in place
    z-index: 2; //to be on top of everything
    width: 100%;
    padding: 1rem; //relative to font size
}

main{
    height: 100%;
    width: 100%;

    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
    
        a {
            padding: 0.4rem;
            @include transition-ease;

            &:hover{
                color: $secondary-color;
            }
        }
    }
}



@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.04, 1.04);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes zoom-in {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1.06, 1.06);
    }
  }
  @keyframes zoom-out {
    0% {
      transform: scale(1.06, 1.06);
    }
    100% {
      transform: scale(1, 1);
    }
  }