<main style="overflow: hidden">
    <section class="home">
        <h2 style="color: rgb(199, 199, 199)"><span>Hi! My Name is!</span></h2>
        <h1 class="home__name">
           <span>Fabian</span>  <span class="home__name--last">Kuchling</span>
        </h1>
        <h2 class="" style="color: rgb(199, 199, 199)">
           <span>Web Developer, Designer & Programmer</span> 
        </h2>

        <h1 class="blend-in-motivational">
            <span>There </span>
            <span>are </span>
            <span>no </span>
            <span>limits </span>
            <span>to </span>
            <span>what </span>
            <span>you </span>
            <span>can </span>
            <span>accomplish, </span>
            <span>except </span>
            <span>the </span>
            <span>limits </span>
            <span>you </span>
            <span>place </span>
            <span>on </span>
            <span>your </span>
            <span>own </span>
            <span>thinking.</span>
          </h1>

          <h1 class="blend-in-midjourney">
            <span>All </span>
            <span>images </span>
            <span>were </span>
            <span>generated </span>
            <span>by </span>
            <span>me </span>
            <span>in </span>
            <span>Midjourney </span>
          </h1>
    </section>

    

</main>

<script src="js/main.js"></script>
